HOST=127.0.0.1
PORT=5050
LOGS_PATH=logs.log

POSTGRES_USER=currency_user
POSTGRES_PASSWORD=currency_password
POSTGRES_DB=currency_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

DB_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
